<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - attaccoverlay</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-->
        @await RenderSectionAsync("Scripts", required: false)
    </!-->
</body>
</html>
