@page "{*page}"

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>

@{
    
    string[] pathvalues = ViewBag.Request.Path.Value.Split("/");
    string SourcePath = "";
    if (pathvalues.Length == 0)
    {
        SourcePath = "index";
    }
    else
    {
        SourcePath = pathvalues[0] == "" ? "index" : pathvalues[0];
    }

    switch (SourcePath)
    {
        case "index":
            <div id="source_dom_element"></div>
            <script src="@Url.Content("/js/Classes/Data.js")" type="text/javascript"></script>
            <script src="@Url.Content("/js/Composite/Content.jsx")" type="module"></script>
            break;
    }

}

